@media screen and (max-width: 1200px)
{
	.container {
		padding: 0px 15px;
	}
	/* features */
	#features
	{
		height: auto;
	}
	#features .container .phone-image
	{
		width: 40%;
		text-align: center;

	}
	#features .container .phone-image > img 
	{
		margin: 100px 0 0 0;
		display: inline-block;
	}
	#features .container .feature-list
	{
		width: 60%;
		position: static;
		padding: 70px 0;
	}
	#features .container .feature-list div {
		position: static;
		width: 48%;
		margin-right: 1%;
		display: inline-block;
		margin-bottom: 20px;
		height: auto;
	}

	/* stable */
	#stable
	{
		height: auto;
		padding: 70px 0;
	}
	#stable .container .left
	{
		width: 50%;
		padding-right: 10px;
	}
	#stable .container .right
	{
		width: 50%;
		padding-left: 10px;
	}

	/* everything */
	#everything
	{
		padding-bottom: 70px;
		height: auto;
	}
	#everything .container .left
	{
		width: 50%;
		padding: 70px 0 0 0;
		text-align: center;
	}
	#everything .container .left img
	{
		display: inline-block;
		width: 90%;
	}
	#everything .container .right
	{
		width: 50%;
		padding-top: 80px;
	}

	/* availble */
	#availble
	{
		padding: 70px 0;
	}
	.availble .container
	{
		padding: 0;
	}
	#availble .container .left
	{
		width: 50%;
		text-align: center;
		padding: 0;
	}
	#availble .container .right
	{
		width: 50%;
	}

	/* Links */
	#links
	{
		padding: 70px 0;
	}
}
@media screen and (max-width: 960px)
{
	/* Header */
	#header .container header .main-menu li a
	{
		font-size: 20px;
		padding: 0px 30px;
	}
	#header .container .text-title h1
	{
		font-size: 40px;
		margin-top: 80px;
	}
	#header .container .text-title .actions a
	{
		height: 50px;
		line-height: 50px;
		font-size: 16px;
	}
}

@media screen and (max-width: 768px)
{
	/* Header */
	#header .container header .main-menu li a {
	    padding: 0px 15px;
	}
	#header .container .text-title h1 {
		width: auto;
		font-size: 34px;
		line-height: 45px;
	}
	#header .container header .main-menu
	{
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background: #2c3e50;
		padding-top: 80px;
		transition: 0.3s;
		z-index: 9998;
	}
	#header .container header .main-menu-active
	{
		left: 0;
	}
	#header .container header .main-menu li
	{
		display: block;
	}
	#header .container header .main-menu li a
	{
		display: block;
		width: 100%;
		font-size: 18px;
		height: 50px;
		line-height: 50px;
		padding: 0 0 0 20px;
		transition: 0.3s;
	}
	#header .container header .main-menu li a:hover
	{
		background: #2980b9;
	}
	#header .container header .main-menu #close-mainMenu
	{
		display: block;
	}
	#header .container header .menu-toggle
	{
		display: block;
	}
}

@media screen and (max-width: 500px)
{
	
}