*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
a
{
	text-decoration: none;
}
ul,li
{
	list-style: none;
}
@font-face {
  font-family: "Myriad Pro";
  src: url(../fonts/myriadpro-light.otf);
}
@font-face {
  font-family: "Myriad Pro";
  font-weight: bold;
  src: url(../fonts/myriadpro-bold.otf);
}
@font-face {
  font-family: "WorkSans Bold";
  font-weight: bold;
  src: url(../fonts/WorkSans-Bold.otf);
}

.container
{
	max-width: 1150px;
	margin: 0 auto;
	position: relative;
}
.container h2 {
	color: #233148;
	font-size: 30px;
	line-height: 60px;
	font-family: "Myriad Pro", sans-serif;
}

.clear-fix::after,
.clear-fix::before
{
	content: "";
	display: table;
	clear: both;
}
body
{
	width: 100%;
	background: #fff;
	font-size: 16px;
	font-family: "WorkSans Bold", sans-serif;
}
.left
{
	display: inline-block;
	float: left;
}
.right
{
	display: inline-block;
	float: right;
}

/* Header */
#header
{
	min-height: 1000px;
	padding-top: 48px;
	background-color: #0fd5ef;
	background-image: url(../images/wave.png), url(../images/smartphone.png), url(../images/bg.png);
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: 100%, auto, cover;
	background-position: center bottom, center bottom -77px, center bottom;
}

#header .container header 
{
	height: 40px;
	line-height: 40px;
	transition: 0.3s;
}
#header .container header .main-menu li
{
	display: inline-block;
}
#header .container header .main-menu #close-mainMenu
{
	display: block;
	position: absolute;
	top: 10px;
	right: 15px;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-size: 30px;
	cursor: pointer;
	transition: 0.3s;
	display: none;
}
#header .container header .main-menu #close-mainMenu:hover
{
	background: #2980b9;
}
#header .container header .main-menu li a
{
	font-size: 16px;
	color: white;
	padding: 0px 30px;
	font-family: "Myriad Pro", sans-serif;
	font-weight: bold;
}
#header .container header .main-menu li a:last-child 
{
	padding-right: 0px;
}
#header .container header .menu-toggle
{
	display: inline-block;
	float: right;
	border: 0;
	outline: none;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 30px;
	background: none;
	cursor: pointer;
	display: none;
}
#header .container .text-title h1
{
	max-width: 575px;
	text-align: center;
	font-size: 45px;
	line-height: 60px;
	font-weight: bold;
	font-family: "WorkSans Bold", sans-serif;
	color: white;
    margin: 134px auto 0px auto;
}
#header .container .text-title h2
{
	width: 575px;
	text-align: center;
	font-size: 15px;
	line-height: 27px;
	font-family: "Myriad Pro", sans-serif;
	color: white;
    margin: 0px auto;
    margin-top: 15px;
    font-weight: normal;
}
#header .container .text-title .actions
{	
	text-align: center;
	margin-top: 41px;
}
#header .container .text-title .actions a {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	padding: 0px 32px;
	font-size: 14px;
	font-family: "WorkSans Bold", sans-serif;
	color: #233148;
	margin-left: 13px;
	margin-right: 13px;
}
#header .container .text-title .actions a:first-child {
	background-color: white;
}
#header .container .text-title .actions a:nth-child(2){
	border: 1px solid white;
	color: white;
}

/** features **/

#features {
	background-color: #fafafc;
	height: 1095px;
}
#features .container .phone-image
{
	width: 470px;
}
#features .container .phone-image > img 
{
	margin-top: 290px;
	margin-left: 110px;
}
#features .container .feature-list {
	position: relative;
}
#features .container .feature-list div {
	position: absolute;
	background-color: white;
	width: 270px;
	height: 320px;
	border-radius: 5px;
	box-shadow: 0px 6px 9px rgba(35, 39, 47, 0.1);
	margin-bottom: 20px;
	padding: 60px 30px 34px 30px;
}
#features .container .feature-list div:nth-child(1){
	right: 370px;
	top: 117px;
}
#features .container .feature-list div:nth-child(2){
	right: 38px;
	top: 213px;
}
#features .container .feature-list div:nth-child(3){
	right: 437px;
	top: 511px;
}
#features .container .feature-list div:nth-child(4){
	right: 87px;
	top: 635px;
}

#features .container .feature-list div img {
    margin: 0px auto;
    display: block;
}
#features .container .feature-list div h3 {
	text-align: center;
	font-size: 14px;
	line-height: 27px;
	color: #233148;
	margin-top: 29px;
	margin-bottom: 16px;
}
#features .container .feature-list div p {
	text-align: center;
	font-size: 14px;
	line-height: 27px;
	color: #6a6d89;
}

/** stable **/

#stable {
	padding-top: 83px;
	padding-bottom: 103px;
	min-height: 625px;
	background: #fff;
}
#stable .left {
	width: 470px;
}
#stable .left h2 {
	margin-top: 48px;
	text-align: right;
}
#stable .left p {
	font-size: 14px;
	line-height: 27px;
	color: #6a6d89;
	text-align: right;
	margin-top: 31px;
	margin-bottom: 53px;
	font-family: "Myriad Pro", sans-serif;
}
#stable .left {
	text-align: right;
}
#stable .left a {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	color: white;
	background-color: #33d2fd;
	padding: 0px 44px;
	border-radius: 5px;
	font-size: 15px;
	font-family: "WorkSans Bold", sans-serif;
}
#stable .right {
	width: 570px;
}
#stable .right ul .item {
	margin-bottom: 20px;
	box-shadow: 0px 6px 9px rgba(35, 39, 47, 0.1);
	border-radius: 4px;
	transition: 0.3s;
	max-height: 75px;
	overflow: hidden;
}
#stable .right ul .item .subText {
	padding-left: 80px;
	padding-right: 10px;
	font-size: 14px;
	line-height: 27px;
	color: white;
	font-family: "WorkSans Bold", sans-serif;
	
}
#stable .right ul .item a {
	line-height: 75px;
	padding-left: 80px;
	font-size: 15px;
	color: #233148;
	font-family: "WorkSans Bold", sans-serif;
	background-repeat: no-repeat;
    display: inline-block;
    height: 75px;
    width: 100%;
    background-position: 26px center;
}
#stable .right ul li:nth-child(1) a {
	background-image: url(../images/heart.png);
}
#stable .right ul li:nth-child(2) a {
	background-position: 34px center;
	background-image: url(../images/tag.png);
}
#stable .right ul li:nth-child(3) a {
	background-image: url(../images/brifcase.png);
}
#stable .right ul li:nth-child(4) a {
	background-image: url(../images/pencil.png);
}
#stable .right ul .item-active {
	background-color: #33d2fd;
	max-height: 500px;
	padding-bottom: 26px;
}

/* everything */
#everything
{
	background: #fafafc;
	padding-bottom: 85px;
}
#everything .container .left
{
	padding-top: 75px;
	padding-left: 20px;
	width: 570px;
}
#everything .container .right
{
	padding-top: 80px;
	width: 470px;
}
#everything .container .right h2
{
	margin-left: 25px;
	margin-bottom: 30px;
}
#everything .container .right ul li a
{
	display: block;
    font-size: 15px;
    line-height: 27px;
    color: #233148;
    font-family: "work sans semibold", sans-serif;
    padding-left: 35px;
    background: url(../images/check.png) no-repeat;
    background-position: left center;
    font-weight: bold;
}
#everything .container .right ul li:first-child {
	margin-bottom: 30px;
}
#everything .container .right p {
	margin-top: 37px;
	font-size: 14px;
	line-height: 27px;
	color: #6a6d89;
}

/* availble */
#availble
{
	padding-top: 110px;
	background: #0fd5ef;
	background-image: url("../images/bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
#availble .container
{
	padding-bottom: 95px;
}
#availble .container .left
{
	padding-left: 180px;
	width: 470px;
}
#availble .container .right
{
	width: 570px;
	padding-top: 55px;
}
#availble .container .right h2
{
	margin-bottom: 20px;
}
#availble .container .right p
{
	color: #fff;
    font-family: "work sans bold", sans-serif;
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 35px;
}
#availble .container .right ul li
{
	display: inline-block;
}
#availble .container .right ul li:nth-child(1)
{
	margin-right: 37px;
}
#availble .btn-active
{
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	box-shadow: 0 11px 29px rgba(255, 7, 95, .2);
	font-size: 20px;
	line-height: 60px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	padding: 5px 95px;
	background-image: linear-gradient(to top, #f6387d,#fe7570 );
	border-radius: 4px;
}
/* Links */
#links
{
	padding-top: 130px;
	padding-bottom: 120px;
}
#links .container
{
	display: flex;
	justify-content: center;
	align-items: center;
}
#links .container div
{
	width: 200px;
}
#links .container div h3
{
	font-size: 15px;
	line-height: 28px;
	color: #6a6d89;
	font-family: "work sans bold", sans-serif;
	margin-bottom: 30px;
	font-weight: bold;
}
#links .container div ul li a
{
	display: block;
	font-size: 14px;
	line-height: 28px;
	color: #6a6d89;
}

/* get-in-touch */
#get-in-touch .container{
	text-align: center;
	padding-bottom: 85px; 	
}
#get-in-touch p {
	font-size: 14px;
	line-height: 27px;
	font-family: "WorkSans-Regular", sans-serif;
	color: #6a6d89;
}
#get-in-touch form {
	margin-top: 64px;	
}

#get-in-touch input[type="text"] {
	background-color: #f6f7fb;
	border: 0px;
	width: 570px;
	height: 55px;
	margin-right: 15px;
	padding: 0px 18px;
	outline: none;
}
#get-in-touch button {
	margin-left: 15px;
	font-size: 15px;
	line-height: 27px;
	font-family: "WorkSans-SemiBold", sans-serif;
	font-weight: bold; 
	color: #233148;
	background-color: #33d2fd;
	display: inline-block;
	width: 170px;
	height: 52px;
	border: 0px;
	text-transform: uppercase;
}

/* footer*/
footer 
{
	background: #233148;
	color: #fff;
}
footer .container .left 
{
	font-size: 14px;
	line-height: 28px;
	margin: 36px 0;
}
footer  .container .right li
{
	display: inline-block;
	margin: 36px 30px;
}
footer  .container .right a
{
	display: block;
}