* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face {
  font-family: "Myriad Pro";
  src: url(fonts/myriadpro-light.otf);
}
@font-face {
  font-family: "Myriad Pro";
  font-weight: bold;
  src: url(fonts/myriadpro-bold.otf);
}
@font-face {
  font-family: "WorkSans Bold";
  font-weight: bold;
  src: url(fonts/WorkSans-Bold.otf);
}
li {
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1150px;
	margin: 0px auto;
}

.container h2 {
	color: #233148;
	font-size: 30px;
	line-height: 60px;
	font-family: "Myriad Pro", sans-serif;
}

#header {
	height: 1000px;
	padding-top: 48px;
	background-color: #0fd5ef;
	background-image: url("../images/wave.png"), url("../images/smartphone.png"), url("../images/bg.png");
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: 100%, auto, cover;
	background-position: center bottom, center bottom -77px, center bottom;
}
#header .container header {
	height: 40px;
	line-height: 40px;
	display: flex;
	justify-content: space-between;
}
#header .container header .logo {
	display: inline-block;
}
#header .container header #main-menu li {
	display: inline-block;
}
#header .container header #main-menu li a {
	font-size: 16px;
	color: white;
	padding: 0px 30px;
	font-family: "Myriad Pro", sans-serif;
	font-weight: bold;
}
#header .container header #main-menu li a:last-child {
	padding-right: 0px;
}
#header .container #text-title h1 {
	width: 575px;
	text-align: center;
	font-size: 45px;
	line-height: 60px;
	font-weight: bold;
	font-family: "WorkSans Bold", sans-serif;
	color: white;
    margin: 134px auto 0px auto;
}
#header .container #text-title h2 {
	width: 575px;
	text-align: center;
	font-size: 15px;
	line-height: 27px;
	font-family: "Myriad Pro", sans-serif;
	color: white;
    margin: 0px auto;
    margin-top: 15px;
    font-weight: normal;
}
#header .container #text-title #actions a {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	padding: 0px 32px;
	font-size: 14px;
	font-family: "WorkSans Bold", sans-serif;
	color: #233148;
	margin-left: 13px;
	margin-right: 13px;
}
#header .container #text-title #actions {
	text-align: center;
	margin-top: 41px;
}
#header .container #text-title #actions a:first-child {
	background-color: white;
}
#header .container #text-title #actions a:nth-child(2){
	border: 1px solid white;
	color: white;
}

/** features **/

#features {
	background-color: #fafafc;
	min-height: 1095px;
}
#features .container {
	display: flex;
	justify-content: space-between;
}

#features .container #phone-image > img {
	margin-top: 290px;
	margin-left: 110px;
}

#features .container #feature-list {
	position: relative;
}
#features .container #feature-list div {
	position: absolute;
	background-color: white;
	width: 270px;
	height: 320px;
	border-radius: 5px;
	box-shadow: 0px 6px 9px rgba(35, 39, 47, 0.1);
	margin-bottom: 20px;
	padding: 60px 30px 34px 30px;
}
#features .container #feature-list div:nth-child(1){
	right: 370px;
	top: 117px;
}
#features .container #feature-list div:nth-child(2){
	right: 38px;
	top: 213px;
}
#features .container #feature-list div:nth-child(3){
	right: 437px;
	top: 511px;
}
#features .container #feature-list div:nth-child(4){
	right: 87px;
	top: 635px;
}

#features .container #feature-list div img {
    margin: 0px auto;
    display: block;
}
#features .container #feature-list div h3 {
	text-align: center;
	font-size: 14px;
	line-height: 27px;
	color: #233148;
	margin-top: 29px;
	margin-bottom: 16px;
}
#features .container #feature-list div p {
	text-align: center;
	font-size: 14px;
	line-height: 27px;
	color: #6a6d89;
}

/** stable **/
#stable .container {
	display: flex;
	justify-content: space-between;
	height: 625px;
	padding-top: 83px;
	padding-bottom: 103px;
}
#stable .container > div {
	width: 470px;
}
#stable .container > ul {
	width: 570px;
}
#stable .container > div > h2 {
	margin-top: 48px;
	text-align: right;
}
#stable .container > div > p {
	font-size: 14px;
	line-height: 27px;
	color: #6a6d89;
	text-align: right;
	margin-top: 31px;
	margin-bottom: 53px;
	font-family: "Myriad Pro", sans-serif;
}
#stable .container > div > div {
	text-align: right;
}
#stable .container > div > div > a {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	color: white;
	background-color: #33d2fd;
	padding: 0px 44px;
	border-radius: 5px;
	font-size: 15px;
	font-family: "WorkSans Bold", sans-serif;
}

#stable .container ul li p {
	max-height: 0;
	opacity: 0;
	transition: 0.3s;
	padding-left: 80px;
	padding-right: 10px;
	font-size: 14px;
	line-height: 27px;
	color: white;
	font-family: "WorkSans Bold", sans-serif;
}

#stable .container ul li {
	margin-bottom: 20px;
	box-shadow: 0px 6px 9px rgba(35, 39, 47, 0.1);
	border-radius: 4px;
	transition: 0.3s;
}
#stable .container ul li a {
	line-height: 75px;
	padding-left: 80px;
	font-size: 15px;
	color: #233148;
	font-family: "WorkSans Bold", sans-serif;
	background-repeat: no-repeat;
    display: inline-block;
    height: 75px;
    width: 100%;
    background-position: 26px center;
}
#stable .container ul li:nth-child(1) a {
	background-image: url(images/heart.png);
}
#stable li:nth-child(2) a {
	background-position: 34px center;
	background-image: url(images/tag.png);
}
#stable .container ul li:nth-child(3) a {
	background-image: url(images/brifcase.png);
}
#stable .container ul li:nth-child(4) a {
	background-image: url(images/pencil.png);
}

#stable .container ul li:hover {
	background-color: #33d2fd;
	padding-bottom: 26px;
}
#stable .container ul li:hover p {
	max-height: 10em;
	opacity: 1;
}

/* everything */
#everything
{
	background: #fafafc;
}
#everything .container 
{
	min-height: 475px;
	display: flex;
	justify-content: space-between;
}
#everything .container .left
{
	width: 570px;
	padding-top: 70px;
	text-align: center;
}
#everything .container .right
{
	padding-top: 80px;
	width: 470px;
}
#everything .container .right h2
{
	margin-left: 25px;
	margin-bottom: 33px;
}
#everything .container .right ul li
{
	font-size: 15px;
	line-height: 21px;
	margin-bottom: 28px;
}
#everything .container .right ul li a
{
	display: block;
	padding-left: 34px;
	position: relative;
	font-family: "WorkSans Bold", sans-serif;
	color: #233148;
	font-weight: bold;
}
#everything .container .right ul li a::after
{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0px;
	background-image: url("../images/check.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 18px;
	height: 18px;
}
#everything .container .right ul li .icon
{
	display: inline-block;
	width: 18px;
	height: 18px;
	background-image: url("../images/check.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 2px 16px 2px 0;
}
#everything .container .right ul li:last-child
{
	margin-bottom: 0;
}