<!DOCTYPE html>
<html lang="vi">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="include/fontawesome/css/all.css">
	<link rel="stylesheet" href="include/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="include/aos/dist/aos.css">
	<link rel="stylesheet" href="style.css">
	<title>Nguyễn Văn Hải - Offcial Website</title>
</head>
<body>
	<!-- Header -->
	<div class="header">
		<!-- nav -->
		<div class="nav">
			<div class="container">
				<a href="" class="logo">HN</a>
				<button id="togglr-mrnu"> <i class="fas fa-bars"></i></button>
				<ul id="main-menu" class="main-menu">
					<li><a href="">Trang Chủ</a></li>
					<li><a href="">Về Tôi</a></li>
					<li><a href="">Tôi Làm Gì?</a></li>
					<li><a href="">Blog</a></li>
					<li><a href="">Liên Hệ</a></li>
				</ul>
			</div>
		</div>
		<!-- end nav -->
		<!-- title -->
		<div class="container">
			<div class="row">
				<div class="col-md-8 text-white text-center textTitle">
					<h4>Web developer & Writer</h4>
					<h1>Nguyễn Văn Hải</h1>
					<p>Xin chào!, tôi làm freelancer thiết kế web và sáng tạo nội dung. Nếu bạn cần tôi, hãy kết nối!</p>
					<a href="" class="btn hn-btn-white">Liên Hệ Với Tôi!.</a>
				</div>
			</div>
		</div>
		<!-- end title -->
	</div>
	<!-- end Header -->




	<!-- contact icon -->
	<div id="contact-icon">
		<button><i class="fas fa-chevron-left"></i></button>
		<ul>
			<li>
				<a href=""><i class="fab fa-facebook-f"></i></a>
			</li>
			<li>
				<a href=""><i class="fab fa-google-plus-g"></i></a>
			</li>
			<li>
				<a href=""><i class="fab fa-youtube"></i></a>
			</li>
			<li>
				<a href=""><i class="fab fa-twitter"></i></a>
			</li>
			<li>
				<a href=""><i class="fab fa-instagram"></i></a>
			</li>
		</ul>
	</div>
	<!-- end contact icon -->

	<!-- notification -->
	<div id="notification">
		<button><p><i class="fas fa-bell"></i></p></button>
		<p class="subText">Bạn có muốn nhận thông báo từ tôi không?</p>
	</div>
	<!-- end notification -->
	<!-- scroll to Top -->
	<div class="back-to-top"><i class="fas fa-chevron-up"></i></div>
	<!-- end scroll to top -->
	<script type="text/javascript" src="include/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="include/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="include/aos/dist/aos.js"></script>
	<script type="text/javascript" src="index.js"></script>
</body>
</html>