*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{ text-decoration: none; }
ul,li { list-style: none; }
.row::after,
.row::before
{
	content: "";
	display: table;
	clear: both;
}
[class*="col-"]
{
	float: left;
	position: relative;
}
.col-1-12 { width : 8.3333333%; }
.col-2-12 { width : 16.6666667%; }
.col-3-12 { width : 25%; }
.col-4-12 { width : 33.3333333%; }
.col-5-12 { width : 41.6666667%; }
.col-6-12 { width : 50%; }
.col-7-12 { width : 58.3333333%; }
.col-8-12 { width : 66.6666667%; }
.col-9-12 { width : 75%; }
.col-10-12 { width : 83.3333333%; }
.col-11-12 { width : 91.6666667%; }
.col-12-12 { width : 100%; }

@media screen and (max-width: 1200px){
	.col-md-1-12 { width : 8.3333333%; }
	.col-md-2-12 { width : 16.6666667%; }
	.col-md-3-12 { width : 25%; }
	.col-md-4-12 { width : 33.3333333%; }
	.col-md-5-12 { width : 41.6666667%; }
	.col-md-6-12 { width : 50%; }
	.col-md-7-12 { width : 58.3333333%; }
	.col-md-8-12 { width : 66.6666667%; }
	.col-md-9-12 { width : 75%; }
	.col-md-10-12 { width : 83.3333333%; }
	.col-md-11-12 { width : 91.6666667%; }
	.col-md-12-12 { width : 100%; }
}
@media screen and (max-width: 960px){
	.col-tb-1-12 { width : 8.3333333%; }
	.col-tb-2-12 { width : 16.6666667%; }
	.col-tb-3-12 { width : 25%; }
	.col-tb-4-12 { width : 33.3333333%; }
	.col-tb-5-12 { width : 41.6666667%; }
	.col-tb-6-12 { width : 50%; }
	.col-tb-7-12 { width : 58.3333333%; }
	.col-tb-8-12 { width : 66.6666667%; }
	.col-tb-9-12 { width : 75%; }
	.col-tb-10-12 { width : 83.3333333%; }
	.col-tb-11-12 { width : 91.6666667%; }
	.col-tb-12-12 { width : 100%; }
}
@media screen and (max-width: 768px){
	.col-mb-1-12 { width : 8.3333333%; }
	.col-mb-2-12 { width : 16.6666667%; }
	.col-mb-3-12 { width : 25%; }
	.col-mb-4-12 { width : 33.3333333%; }
	.col-mb-5-12 { width : 41.6666667%; }
	.col-mb-6-12 { width : 50%; }
	.col-mb-7-12 { width : 58.3333333%; }
	.col-mb-8-12 { width : 66.6666667%; }
	.col-mb-9-12 { width : 75%; }
	.col-mb-10-12 { width : 83.3333333%; }
	.col-mb-11-12 { width : 91.6666667%; }
	.col-mb-12-12 { width : 100%; }
}
@media screen and (max-width: 576px){
	.col-sm-1-12 { width : 8.3333333%; }
	.col-sm-2-12 { width : 16.6666667%; }
	.col-sm-3-12 { width : 25%; }
	.col-sm-4-12 { width : 33.3333333%; }
	.col-sm-5-12 { width : 41.6666667%; }
	.col-sm-6-12 { width : 50%; }
	.col-sm-7-12 { width : 58.3333333%; }
	.col-sm-8-12 { width : 66.6666667%; }
	.col-sm-9-12 { width : 75%; }
	.col-sm-10-12 { width : 83.3333333%; }
	.col-sm-11-12 { width : 91.6666667%; }
	.col-sm-12-12 { width : 100%; }
}