.container
{
	max-width: 1170px;
	margin: 0 auto;
}
[class*="col-"]
{
	padding: 0 15px;
}
.clear-fix::after,
.clear-fix::before
{
	content: "";
	display: table;
	clear: both;
}
.float-left
{
	float: left;
	display: inline-block;
}
.float-right
{
	float: right;
	display: inline-block;
}
.flex-box-between
{
	display: flex;
	justify-content: space-between;
}
.container h2.title
{
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	color: #292f36;
	border-left: 6px solid #e1e6ea;
	padding-left: 15px;
	margin-bottom: 60px;
	font-family: "Quattrocento Sans", sans-serif;
	font-weight: 700;
}
.container p.text-description
{
	font-size: 16px;
	line-height: 26px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}
.container .title-mini
{
	font-size: 18px;
	line-height: 42px;
	font-family: "Quattrocento Sans", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
#loadding
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 10000;
}
#loadding div{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -60px;
	margin-left: -60px;
	border: 16px solid #f3f3f3; 
	border-top: 16px solid blue;
	border-bottom: 16px solid blue;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
body
{
	background: #fff;
}

/* NAV */
nav
{
	width: 100%;
	height: 82px;
	background-color: #1d2126;
}
nav .container #logo a
{
	display: inline-block;
	padding: 33px 0;
}
nav .container #logo a img
{
	display: inline-block;
}
nav .container #nav-menu .nav-item
{
	display: inline-block;
	margin: 26px 8px;
	height: 30px;
}
nav .container #nav-menu .nav-item:first-child
{
	margin-left: 0;
}
nav .container #nav-menu .nav-item:last-child
{
	margin-right: 0;
}
nav .container #nav-menu .nav-item .nav-link
{
	display: block;
	font-size: 14px;
	line-height: 30px;
	color: #a4aead;
	padding: 0 12px;
	text-transform: uppercase;
	transition: all 0.3s;
	border-radius: 4px;
}
nav .container #nav-menu .nav-item-active .nav-link
{
	color: #23b7a4;
	border: 2px solid #23b7a4;
}
nav .container #nav-menu .nav-item .nav-link:hover
{
	border: 2px solid #5b6168;
}
nav .container #nav-menu .nav-item-active .nav-link:hover
{
	border: 2px solid #23b7a4;
}
nav #main-menu-toggle-btn
{
	display: block;
	width: 40px;
	height: 40px;
	margin: 21px 0;
	border: 0;
	background: none;
	outline: none;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	font-weight: 700;
	display: none;
}
nav #close-main-menu-btn
{
	position: absolute;
	top: 5px;
	right: 15px;
	width: 40px;
	height: 40px;
	background: none;
	border: 0;
	color: #fff;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	outline: none;
	cursor: pointer;
	display: none;
}
/* Header */
header .slide
{
	width: 100%;
	height: 660px;
	overflow: hidden;
	position: relative;
}
header .slide .slide-content
{
	position: relative;
}
header .slide .slide-content::after,
header .slide .slide-content::before
{
	content: "";
	display: table;
	clear: both;
}
header .slide .slide-content .slide-item
{
	background: #3a454d url("images/headerbg.png");
	height: 660px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	float: left;
}
header .slide .slide-item .container .textTitle
{
	max-width: 654px;
}
header .slide .slide-item .container .textTitle h1
{
	padding-top: 225px;
	margin-bottom: 28px;
	font-size: 36px;
	line-height: 42px;
	color: #fff;
	text-transform: uppercase;
}
header .slide .slide-item .container .textTitle p
{
	font-size: 16px;
	line-height: 26px;
	color: #ccd0d7;
}
header .slide .slide-item .container .textTitle .action
{
	margin-top: 40px;
}
header .slide .slide-item .container .textTitle .action a
{
	display: inline-block;
	height: 45px;
	text-transform: uppercase;
	line-height: 45px;
	color: #fff;
	padding: 0 22px;
	border: 2px solid #fff;
	border-radius: 4px;
	transition: all 0.3s;
}
header .slide .slide-item .container .textTitle .action a:first-child
{
	margin-right: 12px;
}
header .slide .slide-item .container .textTitle .action a:hover
{
	background-color: #23b7a4;
	border: 2px solid #23b7a4;
}
header .slide-control
{
	position: absolute;
	bottom: 30px;
	left: 0;
	width: 100%;
}
header .slide-control .container
{
	text-align: right;
}
header .slide-control .dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 5px;
	border: 2px solid #fff;
	border-radius: 50%;
	display: inline-block;
	transition: all 0.6s ease;
}
header .slide-control .dot-active, 
header .slide-control .dot:hover {
	background-color: #fff;
}
/* About */
#about
{
	border-bottom: 2px solid #dde1e4;
	padding-top: 80px;
	padding-bottom: 112px;
}
#about .container .left .title
{
	margin-bottom: 52px;
}
#about .container .left .text-description
{
	margin-bottom: 26px;
	color: #8d8f92;
}
#about .container .left .icon
{
	margin-top: 55px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
#about .container .left .icon li
{
	display: block;
	margin-right: 2px;
}
#about .container .left .icon li a
{
	display: block;
	width: 60px;
	height: 60px;
	background-color: #c8cdd0;
	transition: all 0.3s;
}
#about .container .left .icon li a img
{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 20px;
}
#about .container .left .icon li a:hover
{
	background-color: #d0d5d9;
}
#about .container .right .row
{
	margin-bottom: 38px;
}
#about .container .right .row:last-child
{
	margin-bottom: 0;
}
#about .container .right .row .number-order
{
	width: 50px;
	height: 50px;
	background-color: #23b7a4;
	line-height: 50px;
	font-size: 20px;
	color: #fff;
	text-align: center;
	margin-top: 12px;
}
#about .container .right .row .content
{
	
}
#about .container .right .row .content h3
{
	margin-bottom: 5px;
	color: #292f36;
}
#about .container .right .row .content p
{
	margin: 0;
	color: #8d8f92;
}

/* TEAM */
#team
{
	padding-top: 80px;
	padding-bottom: 112px;
}
#team .container .row .card
{
	background-color: #e1e6ea;
}
#team .container .row .card .card-content
{
	width: 100%;
	height: auto;
	position: relative;
}
#team .container .row .card .card-content > img
{
	display: block;
	width: 100%;
	height: auto;
}
#team .container .row .card .card-content .icon
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background:  rgba(255, 255, 255, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
	visibility: hidden;
	opacity: 0;
}
#team .container .row .card .card-content .icon li
{
	margin-left: 2px;
}
#team .container .row .card .card-content .icon li a
{
	display: block;
	width: 50px;
	height: 50px;
	background-color: #3a454d;
	transition: all 0.3s;
}

#team .container .row .card .card-content .icon li a img
{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 15px;
}
#team .container .row .card .card-content .icon li a:hover
{
	background: #4e5a62;
}
#team .container .row .card .card-title
{
	width: 100%;
	padding: 7px 21px ;
	transition: all 0.3s;
}
#team .container .row .card .card-title h3
{
	color: #292f36;
}
#team .container .row .col .card-title p
{
	font-size: 14px;
	line-height: 26px;
	color: #8d8f92;
	transition: all 0.3s;
	font-weight: 400;
	font-family: "Open Sans", sans-serif;
}
#team .container .row .card:hover .icon
{
	visibility: visible;
	opacity: 1;
}
#team .container .row .card:hover .card-title
{
	background: #3a454d;
}
#team .container .row .card:hover .card-title p,
#team .container .row .card:hover .card-title h3
{
	color: #fff;
}

/* WORK */
#work {
	padding-top: 80px;
	background: #3a454d;
	padding-bottom: 60px;
	text-align: center;
}
#work .container 
{
	text-align: left;
}
#work .container .title
{
	color: #fff;
}
#work .container .row .card {
	height: 264px;
	position: relative;
	margin-bottom: 30px;
}
#work .container .row .card > img
{
	width: 100%;
	height: 100%;
	display: block;
}
#work .container .row .card .info
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: all 0.3s;
	opacity: 0;
	visibility: hidden;
	cursor: pointer;
}
#work .container .row .card .info > a
{
	display: block;
	position: absolute;
	width: 100%;
	height: calc(100% - 60px);
	top: 0;
	left: 0;
	background:  rgba(41, 47, 53, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}
#work .container .row .card .info > .title-mini
{
	display: block;
	position: absolute;
	width: 100%;
	height: 60px;
	bottom: 0;
	left: 0;
	background-color: #292f36;
	font-size: 18px;
	color: #fff;
	text-align: center;
	padding: 9px 21px;
}
#work .container .row .card:hover .info
{
	visibility: visible;
	opacity: 1;
}
#work > a
{
	display: inline-block;
	height: 45px;
	line-height: 45px;
	padding: 0 24px;
	color: #ffffff;
	font-family: "Quattrocento Sans", sans-serif;
	font-weight: 700;
	border: 2px solid #fff;
	border-radius: 4px;
	text-transform: uppercase;
	margin-top: 30px;
}

/* services */
#services
{
	padding-top: 60px;
	padding-bottom: 75px;
}
#services .container .row
{
	margin-bottom: 90px;
	text-align: center;
}
#services .container .row img
{
	display: inline-block;
	margin-bottom: 35px;
	width: 40px;
	height: 40px;
}
#services .container .row .title-mini
{
	font-size: 17px;
	margin-bottom: 20px;
}

/* features */
#features
{
	background-color: #3a454d;
	padding-top: 85px;
	padding-bottom: 112px;
}
#features .container .title
{
	color: #fff;
}
#features .container .title-mini
{
	color: #fff;
	margin-top: 35px;
	margin-bottom: 14px;
}
#features .container .row img
{
	width: 100%;
}
#features .container .text-description
{
	color: #dcdfe1;
}

#contact
{
	padding-top: 63px;
	padding-bottom: 113px;
}
#contact .container
{
	position: relative;
}
#contact .container h3
{
	font-size: 20px;
	line-height: 26px;
	color: #292f36;
	font-family: "Quattrocento Sans", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 60px;
	margin-bottom: 40px;
}
#contact .container p
{
	margin-bottom: 26px;
	color: #8d8f92;
	margin: 0;
}
#contact .container .form-message
{
	width: 100%;
	background-color: #fff;
	position: absolute;
	left: 0;
	top: -128px;
	padding: 30px;
}
#contact .container .form-message .row
{
	margin-bottom: 30px;
}
#contact .container .form-message p
{
	font-size: 14px;
	line-height: 26px;
	color: #8d8f92;
	font-family: "Quattrocento Sans", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 5px;
}
#contact .container .form-message .row input[type="text"]
{
	width: 100%;
	display: block;
	background-color: #eaeef1;
	border: 0;
	height: 45px;
	padding: 0 22px;
}
#contact .container .form-message .row textarea
{
	height: 150px;
	width: 100%;
	border: 0;
	background-color: #eaeef1;
	padding:15px 22px;
}
#contact .container .form-message .row button
{
	height: 45px;
	padding: 0 26px;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
	background-color: #23b7a4;
	outline: none;
	color: #ffffff;
	font-family: "Quattrocento Sans", sans-serif;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;

}
footer
{
	background-color: #3a454d;
	height: 95px;
}
footer .float-left .text-description
{
	color: #FFF;
	line-height: 95px;

}
footer .float-right
{
	padding: 30px 0;
}
footer .float-right li
{
	display: inline-block;
	margin: 0 10px;
}
footer .float-right li a
{
	display: block;
	width: 25px;
	height: 25px;
}
footer .float-right li a img
{
	width: 100%;
	height: 100%;
	display: block;
}