*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
.menu
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	background: #fafafc;
	box-shadow: 0 0 15px rgba(35, 37, 39, .2);
}
.menu li
{
	display: inline-block;
	overflow: hidden;
}
.menu li a
{
	display: block;
	padding: 0 20px;
	color: #333;
	position: relative;
	border-right: 1px solid rgba(0,0,0,0.05);
}
.shadow
{
	display: block;
	padding: 0 20px;
	height: 50px;
	line-height: 50px;
	color: #2980b9;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
}